  
 
 .pbiContainer {
	
	margin: 20px auto;
	width: 75%;

	iframe{
        height: 1531px !important;
		border: none;
		border-radius: 15px;
		display: flex;
		position: relative;
    }
}

